<?xml version="1.0" encoding="utf-8"?>

<Package
  xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10"
  xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest"
  xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10"
  IgnorableNamespaces="uap mp">

  <Identity
    Name="62961PeterTorr.WinGetYAMLGenerator"
    Publisher="CN=5EAA07D0-F3FF-4F06-BFFD-CBF8E9CFF10E"
    Version="1.0.0.0" />

  <mp:PhoneIdentity PhoneProductId="dfe3d613-a9ac-4423-8949-3717405f782f" PhonePublisherId="00000000-0000-0000-0000-000000000000"/>

  <Properties>
    <DisplayName>WinGet YAML Generator</DisplayName>
    <PublisherDisplayName>Peter Torr</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>

  <Dependencies>
    <TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.0.0" MaxVersionTested="10.0.0.0" />
  </Dependencies>

  <Resources>
    <Resource Language="x-generate"/>
  </Resources>

  <Applications>
    <Application Id="App"
      Executable="$targetnametoken$.exe"
      EntryPoint="WinGetYamlGenerator.App">
      <uap:VisualElements
        DisplayName="WinGet YAML Generator"
        Square150x150Logo="Assets\Square150x150Logo.png"
        Square44x44Logo="Assets\Square44x44Logo.png"
        Description="Simple app to generate YAML for Winget manifests."
        BackgroundColor="transparent">
        <uap:DefaultTile Square71x71Logo="Assets\SmallTile.png" />
        <uap:SplashScreen Image="Assets\SplashScreen.png"  BackgroundColor="#7aeafc"/>
      </uap:VisualElements>
    </Application>
  </Applications>

  <Capabilities>
  </Capabilities>
</Package>